* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
  h1 {
    display: flex;
    justify-content: center;
    margin: 20px 5px 5px 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #searchbar {
    display: flex;
    justify-content: center;
    margin: 40px 0px 25px 0px;
  }

  nav{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  
    #radiobuttons {

    display: flex;
    justify-content: center;
    margin: 25px;
    list-style-type: none;
    
        li{
            margin:10px; 
        }
  }
}
}
